.root {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "map sidebar";
    width: 100vw;
    height: 100vh;
}

.mapContainer {
    grid-area: map;
    position: relative;
}